@model AqApplication.Manage.Models.CommonBreadcrumbModel

<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="m-subheader__title m-subheader__title--separator">
            @Model.Pagename
        </h3>
        <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
            <li class="m-nav__item m-nav__item--home">
                <a href="#" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-home"></i>
                </a>
            </li>
            <li class="m-nav__separator">
                -
            </li>
            <li class="m-nav__item">
                <a href="@Url.Action("Index","Home")" class="m-nav__link">
                    <span class="m-nav__link-text">
                        Dashboard
                    </span>
                </a>
            </li>

            @if (!string.IsNullOrEmpty(Model.Backurl))
            {
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="@Model.Backurl" class="m-nav__link">
                        <span class="m-nav__link-text">
                            @Model.Backpagename
                        </span>
                    </a>
                </li>
            }
            @if (!string.IsNullOrEmpty(Model.Pagename))
            {
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">
                            @Model.Pagename
                        </span>
                    </a>
                </li>
            }
        </ul>
    </div>

</div>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert @((Model.isSuccess.HasValue && Model.isSuccess.Value)?"alert-success":"alert-danger")">
        <strong>@((Model.isSuccess.HasValue && Model.isSuccess.Value) ? "Bilgi" : "Uyarı"):</strong> @Model.Message
    </div>
}
