<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        A&Q Portal | Dashboard
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700", "Asap+Condensed:500"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <!--begin::Page Vendors -->
    <link href="/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/assets/demo/demo8/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/assets/demo8/demo/media/img/logo/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/assets/plugins/Stepper-master/jquery.fs.stepper.css" rel="stylesheet" />
    <link href="/assets/plugins/timepicker/jquery.timepicker.css" rel="stylesheet" />
    <link href="/assets/plugins/fancybox-master/dist/jquery.fancybox.css" rel="stylesheet" />
    <link href="/assets/plugins/materializeicon/material-icons.css" rel="stylesheet" />
    <link href="/assets/app/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/app/css/inbox.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet" type="text/css">
    <link href="//cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet" type="text/css">

    <meta name="robots" content="noindex,nofollow">

    <style type="text/css">
        tr:nth-child(even) {
            background-color: #e8e9ec;
        }

        .table {
            display: table;
            width: 100%;
        }

        tr > th {
            text-align: center;
        }

        tr > td {
            text-align: center;
        }

        input[type=checkbox], input[type=radio] {
            width: 28px;
            height: 28px;
        }

        .editImagePreview {
            height: 200px;
            width: 200px;
            border: 1px solid #ccc;
            padding: 5px;
        }

        .m-menu__link_selected {
            background: #f1f1f5;
            border-radius: 3rem;
        }
    </style>
    @RenderSection("_styles", false)
</head>
<!-- end::Head -->
<!-- end::Body -->
<body style="background-image: url(/assets/app/media/img/bg/bg-7.jpg)" class="m-page--fluid m-page--loading-enabled m-page--loading m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
    <!-- begin::Page loader -->
    <div class="m-page-loader m-page-loader--base">
        <div class="m-blockui">
            <span>
                Lütfen Bekleyiniz...
            </span>
            <span>
                <div class="m-loader m-loader--brand"></div>
            </span>
        </div>
    </div>
    <div class="m-grid m-grid--hor m-grid--root m-page">
        @Html.RenderAction("Header", "Home")
        <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop m-page__container m-body">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_Footer")
    </div>
    @Html.Partial("_QuickSideBar")
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <ul class="m-nav-sticky" style="margin-top: 30px;">
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Purchase" data-placement="left">
            <a href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" target="_blank">
                <i class="la la-cart-arrow-down"></i>
            </a>
        </li>
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Documentation" data-placement="left">
            <a href="https://keenthemes.com/metronic/documentation.html" target="_blank">
                <i class="la la-code-fork"></i>
            </a>
        </li>
        <li class="m-nav-sticky__item" data-toggle="m-tooltip" title="Support" data-placement="left">
            <a href="https://keenthemes.com/forums/forum/support/metronic5/" target="_blank">
                <i class="la la-life-ring"></i>
            </a>
        </li>
    </ul>
    <div class="modal modal-sticky-bottom-right modal-sticky-lg" id="kt_inbox_compose" role="dialog" data-backdrop="false" aria-modal="true" style="padding-right: 15.9949px; ">
        <div class="modal-dialog" role="document">
            <div class="modal-content kt-inbox">
                <div class="kt-inbox__form" id="kt_inbox_compose_form">
                    <div class="kt-inbox__head">
                        <div class="kt-inbox__title">Compose</div>
                        <div class="kt-inbox__actions">
                            <button type="button" class="kt-inbox__icon kt-inbox__icon--md kt-inbox__icon--light" data-dismiss="modal">
                                <i class="material-icons m-menu__link-icon">
                                    clear
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="kt-inbox__body">
                        <div class="kt-inbox__to">
                            <div class="kt-inbox__wrapper">
                                <div class="kt-inbox__field kt-inbox__field--to">
                                    <div class="kt-inbox__label">
                                        To:
                                    </div>
                                    <div class="kt-inbox__input">
                                        <tags class="tagify  " aria-haspopup="true" aria-expanded="false" role="tagslist">
                                            <tag title="Chris Muller" contenteditable="false" spellcheck="false" class="tagify__tag tagify__tag--brand tagify--noAnim" role="tag" pic="./assets/media/users/100_11.jpg" email="chris.muller@wix.com" value="Chris Muller"><x title="" class="tagify__tag__removeBtn" role="button" aria-label="remove tag"></x><div><span class="tagify__tag-text">Chris Muller</span></div></tag><tag title="Lina Nilson" contenteditable="false" spellcheck="false" class="tagify__tag tagify__tag--brand tagify--noAnim" role="tag" pic="./assets/media/users/100_15.jpg" initialsstate="danger" initials="LN" email="lina.nilson@loop.com" value="Lina Nilson"><x title="" class="tagify__tag__removeBtn" role="button" aria-label="remove tag"></x><div><span class="tagify__tag-text">Lina Nilson</span></div></tag><span contenteditable="" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-multiline="false"></span>
                                        </tags><input type="text" name="compose_to" value="Chris Muller, Lina Nilson">
                                    </div>
                                    <div class="kt-inbox__tools">
                                        <span class="kt-inbox__tool kt-inbox__tool--cc">Cc</span>
                                        <span class="kt-inbox__tool kt-inbox__tool--bcc">Bcc</span>
                                    </div>
                                </div>
                                <div class="kt-inbox__field kt-inbox__field--cc">
                                    <div class="kt-inbox__label">
                                        Cc:
                                    </div>
                                    <div class="kt-inbox__input">
                                        <tags class="tagify  " aria-haspopup="true" aria-expanded="false" role="tagslist">
                                            <span contenteditable="" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-multiline="false"></span>
                                        </tags><input type="text" name="compose_cc">
                                    </div>
                                    <div class="kt-inbox__tools">
                                        <button type="button" class="kt-inbox__icon kt-inbox__icon--delete kt-inbox__icon--sm kt-inbox__icon--light">
                                            <i class="flaticon2-cross"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="kt-inbox__field kt-inbox__field--bcc">
                                    <div class="kt-inbox__label">
                                        Bcc:
                                    </div>
                                    <div class="kt-inbox__input">
                                        <tags class="tagify  " aria-haspopup="true" aria-expanded="false" role="tagslist">
                                            <span contenteditable="" data-placeholder="​" aria-placeholder="" class="tagify__input" role="textbox" aria-multiline="false"></span>
                                        </tags><input type="text" name="compose_bcc">
                                    </div>
                                    <div class="kt-inbox__tools">
                                        <button type="button" class="kt-inbox__icon kt-inbox__icon--delete kt-inbox__icon--sm kt-inbox__icon--light">
                                            <i class="flaticon2-cross"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="kt-inbox__subject">
                            <input class="form-control" name="compose_subject" placeholder="Subject">
                        </div>

                        <div id="kt_inbox_compose_editor" style="height: 300px">
                        </div>


                    </div>
                    <div class="kt-inbox__foot">
                        <div class="kt-inbox__primary">
                            <div class="btn-group">
                                <button type="button" class="btn btn-brand btn-bold">
                                    Send
                                </button>

                                <button type="button" class="btn btn-brand btn-bold dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>

                                <div class="dropdown-menu dropup dropdown-menu-fit dropdown-menu-right">
                                    <ul class="kt-nav">
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-writing"></i>
                                                <span class="kt-nav__link-text">Schedule Send</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-medical-records"></i>
                                                <span class="kt-nav__link-text">Save &amp; archive</span>
                                            </a>
                                        </li>
                                        <li class="kt-nav__item">
                                            <a href="#" class="kt-nav__link">
                                                <i class="kt-nav__link-icon flaticon2-hourglass-1"></i>
                                                <span class="kt-nav__link-text">Cancel</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="kt-inbox__panel">
                                <label class="kt-inbox__icon kt-inbox__icon--light dz-clickable" id="kt_inbox_compose_attachments_select">
                                    <i class="flaticon2-clip-symbol"></i>
                                </label>
                                <label class="kt-inbox__icon kt-inbox__icon--light">
                                    <i class="flaticon2-pin"></i>
                                </label>
                            </div>
                        </div>

                        <div class="kt-inbox__secondary">
                            <button class="kt-inbox__icon kt-inbox__icon--light" data-toggle="kt-tooltip" title="" data-original-title="More actions">
                                <i class="flaticon2-settings"></i>
                            </button>
                            <button class="kt-inbox__icon kt-inbox__icon--remove kt-inbox__icon--light" data-toggle="kt-tooltip" title="" data-original-title="Dismiss reply">
                                <i class="flaticon2-rubbish-bin-delete-button"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- begin::Quick Nav -->
    <!--begin::Base Scripts -->
    <!-- jQuery library -->
    <script src="/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="/assets/demo/demo8/base/scripts.bundle.js" type="text/javascript"></script>
    <script src="/assets/app/js/dashboard.js" type="text/javascript"></script>
    <script src="/assets/plugins/Stepper-master/jquery.fs.stepper.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/fancybox-master/dist/jquery.fancybox.js" type="text/javascript"></script>
    <script src="/assets/app/js/jquery.mask.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap-confirmation/dist/bootstrap-confirmation.js" type="text/javascript"></script>
    <script src="//cdn.quilljs.com/1.3.6/quill.min.js" type="text/javascript"></script>
    <script src="/assets/app/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/app/js/messagingService.js" type="text/javascript"></script>
    @RenderSection("_scripts", false)

    <script>

    </script>

    <script>
     
        jQuery(function ($) {
            $.datepicker.regional['tr'] = {
                closeText: 'kapat',
                prevText: '&#x3C;geri',
                nextText: 'ileri&#x3e',
                currentText: 'bugün',
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
                    'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
                    'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesShort: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                weekHeader: 'Hf',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['tr']);

        });
        $(window).on('load', function () {
            $('body').removeClass('m-page--loading');
        });

        $(document).ready(function () {
            $('.selectpicker').attr('data-live-search', 'true');
            $('.selectpicker').selectpicker();
            $('textarea').css('width', '100%');

            $('.dpicker').datepicker({ defaultDate: new Date(), format: 'dd/mm/yyyy' });
            $('.dpicker').attr('autocomplete', 'off');


            $('.datepicker').attr("autocomplete", "off");

            $(".onlyNumbers").keydown(function (e) {
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $('.money').mask("##0,00", { reverse: true });
            $('.telno').mask("90(000) 000 00 00", {
                clearIfNotMatch: true, placeholder: "90(___) ___ ____", reverse: true, translation: {

                }
            });

            $(".telno").focus(function () {
                var $el = $(this);
                var vl = $el.val();
                if (vl == '' || vl == 'undefined') {
                    $el.val('90');
                }
            });
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                title: 'Emin misiniz?'
            });

            function ajaxCall() {
                $.getJSON("Menu.json?term=" + $('#dealerName').val(),
                    function (data) {
                        $.each(data.dealers, function (k, v) {
                            alert(k + ' : ' + v);
                        });
                    });
            }

            $('#dealerName').autocomplete({
                source: ajaxCall,
                minLength: 2,
                delay: 100
            });
            var url = window.location.pathname;
            if (url.length > 1 && url !=='/Home/Index') {
                $(".m-menu__nav li:eq(0)").removeClass('m-menu__item--active');
                $(".m-menu__nav li:eq(0)").removeClass('m-menu__item--active-tab');
                $(".m-menu__subnav .m-menu__item").each(function (i) {
                    var $el = $(this);
                    var value = $el.find(".m-menu__link").attr('href');
                    console.log(value);
                    console.log(url);
                    if (typeof value !== "undefined" && value !== null) {
                        if (value.indexOf(url) > -1 && value.length > 1) {
                            console.log("found");
                            $el.find(".m-menu__link").addClass('m-menu__link_selected');
                            $el.parent().parent().parent().addClass('m-menu__item--active  m-menu__item--active-tab');
                        }
                    }
                });
            }
            else {
                $(".m-menu__nav li:eq(0)").removeClass('m-menu__item--active');
                $(".m-menu__nav li:eq(0)").removeClass('m-menu__item--active-tab');
                $(".m-menu__nav li:eq(0)").addClass('m-menu__item--active  m-menu__item--active-tab');
            }
            var container = document.getElementById('kt_inbox_compose_editor');
            var options = {
                modules: {
                    toolbar: {}
                },
                placeholder: 'Type message...',
                theme: 'snow'
            };

            var editor = new Quill(container, options);
        });

    </script>
    <!-- end::Page Loader -->
</body>
<!-- end::Body -->
</html>
