@model IEnumerable<AqApplication.Manage.Models.AnswerListModel>
@{ 
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Seo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsTrue)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Seo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img src="@item.ImageUrl" alt="" width="200" height="200" />
                        }
                    </td>
                    <td>
                        @item.IsTrue.TrueText()
                    </td>

                    <td></td>
                </tr>
            }

        </table>
    </div>
</div>
