@using AqApplication.Manage.Models;
@using AqApplication.Manage.Utilities;
@model IEnumerable<AqApplication.Entity.Challenge.ChallengeTemplateItems>

@{
    ViewBag.Title = "Challenge List";
}

@Html.Partial("_Breadcrumb", new AqApplication.Manage.Models.CommonBreadcrumbModel
{
    Pagename = ViewBag.templateName +" Template Kuralları",
    Message = (string)TempData["message"],
    isSuccess = (bool?)TempData["success"],
    Backurl = @Url.Action("ChallengeTemplates", "Quiz", new { id = (int)ViewBag.subjectId }),
    Backpagename = "Challenge Templetes"

})
<p>
    <a href="@Url.Action("AddChallengeTemplate","Quiz")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Yeni Kural
    </a>
</p>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                <i class="glyphicon glyphicon-edit"></i> @ViewBag.templateName Template Kuralları
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-dar">
               
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Creator)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Editor)
                        </th>
                    </tr>

                    @if (Model.Any())
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>

                                <td>
                                    @item.CreatedDate.RegularDatetime()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>
                                    @item.ModifiedDate.RegularDatetime()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Editor)
                                </td>
                                <td>
                                    <a href="@Url.Action("DeleteQuestion", "Question", new { id = item.Id })" class="btn btn-info">
                                        <span class="glyphicon glyphicon-arrow-down"></span> Düzenle
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Kayıt bulunmadı</td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>

</div>
