@using AqApplication.Manage.Models;
@using AqApplication.Manage.Utilities;
@model IEnumerable<AnswerQuestionApp.Manage.Models.ChallengeTemplateListModel>

@{
    ViewBag.Title = "Challange Templateler";
}

@Html.Partial("_Breadcrumb", new AqApplication.Manage.Models.CommonBreadcrumbModel
{
    Pagename = "Challange Templateler",
    Message = (string)TempData["message"],
    isSuccess = (bool?)TempData["success"]
})
<p>
    <a href="@Url.Action("AddChallengeTemplate","Quiz")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Yeni Ekle
    </a>
</p>

<div class="row">
    @Html.Partial("_SearchBar", (SearchModel)ViewBag.searchModel)
    <div class="col-md-9 col-xs-12">
        <div class="card">
            <div class="card-header">
                <i class="glyphicon glyphicon-edit"></i>  Template Listesi
            </div>
            <div class="card-body">
                <table class="table table-responsive table-striped table-dar">
                    <tr>
                        <td colspan="10">
                            @Html.Raw(PaginationHelper.Paginate(this.ViewContext, (AqApplication.Core.Type.Paginition)ViewBag.pagination))
                        </td>
                    </tr>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndDate)
                        </th>
                        <th style="width:300px;">
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Creator)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Editor)
                        </th>
                        <td>
                            @Html.DisplayNameFor(model => model.IsActive)
                        </td>
                        <th colspan="2">
                        </th>
                    </tr>

                    @if (Model!=null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>

                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.StartDate
                                </td>
                                <td>
                                    @item.EndDate
                                </td>
                                <td style="width:300px;">
                                    @item.Description
                                </td>
                                <td>
                                    @item.CreatedDate.RegularDatetime()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>
                                    @item.ModifiedDate.RegularDatetime()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Editor)
                                </td>
                                <td>
                                    @item.IsActive.StatusText()
                                </td>
                                <td>
                                    <a href="@Url.Action("EditChallengeTemplate", "Quiz", new { id = item.Id })" class="btn btn-default">
                                        <span class="glyphicon glyphicon-arrow-down"></span> Düzenle
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ChallengeTemplatesItems", "Quiz", new { id = item.Id })" class="btn btn-info">
                                        <span class="glyphicon glyphicon-arrow-down"></span> Kurallar
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">Kayıt bulunmadı</td>
                        </tr>
                    }

                </table>

            </div>
        </div>

    </div>

</div>
